html{
	scroll-behavior: smooth;
	font-family:  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", Roboto, "Helvetica Neue", "Lato", -apple-system, BlinkMacSystemFont, sans-serif, serif, "Times New Roman", Monospace, Times, Helvetica, Arial, cursive, fantasy;
}

*, body {
    box-sizing: border-box;
    font-size: 11px;
    margin:0;
    padding:0;
	line-height:1.6;
    overflow-x: hidden;
    font-family: roboto; 
}
h1, h2, h3, h4, h5, h6{
	font-size:3rem;
	font-family: roboto;
	letter-spacing:1px;
	text-align: center;
}

p, span{
	font-size:2rem;
	font-family: roboto;
	letter-spacing:1px;
	text-align: center;
}

.jumbotron{
	background-image: url(image/school-college.jpg);
	height:48rem;
}

/* .form-inline{
	background-color:#ffffff;
	border-radius:4px 4px 4px 4px;
	box-shadow:0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:10px;
} */

.h-info, .p-info{
	color:#ffffff;
}

.h-info{
	margin-top:15rem;
} 

#inputPassword1, #submitButton{
	margin-top:6rem;
}

#inputPassword1, #inputPassword2{
	width: 30rem;
	
}

.info-h, .h-info{
	font-weight:bold;
	font-size:3rem;
}

.info-p, .p-info{
	font-size:2.5rem;
}

.card{
	margin:20px 20px 20px 10px;
}

#card-width{
	width:26rem;
}

img.card-img{
	height: 12rem;
}

.card-title{
	font-size:2rem;
}

hr {
	margin: 0 47% 3rem;
  border-style: solid;
  border-color: #3282b8;
  border-top-width: 5px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  width: 5%;
}

.footer{
	background-color:#3282b8;
	color:#ffffff;
	font-family:roboto;
	font-size:5px;
	margin:5rem auto 0;
	padding:20px;
	text-align:center;
}

@media screen and (max-width:776px) {
	.card{
	    margin:20px 20px 20px -5px;
    }
	
	#card-width{
		width:20rem;
	}
}

@media screen and (max-width:660px) {
	.card{
	    margin:20px 20px 20px 45px;
    }
	
	.h-info{
	    margin-top:8rem;
    }
	
	.form-inline{
		margin-left:2rem;
	}
	
	#inputPassword1, #inputPassword2{
	    width: 18rem;
    }
}



@media screen and (max-width:370px) {
	.form-inline{
		margin-left:2rem;
	}
	
	
	.jumbotron{
		height:46rem;
	}
	
	.info-h, .info-p{
		padding:0 3rem 0;
	}
	
	.card{
	margin:20px;
    }
	
	.h-info{
	    margin-top:8rem;
    } 
	
	#inputPassword1, #inputPassword2{
	    width: 18rem;
    }
}